<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> <%=@player_1.name%> vs. <%=@player_2.name%> </h1>
    <h3><%=@player_2.name%>: <%=@player_2.lifeblood%>/100</h3>
    <%= @action %>
    <form action='/hit-player-2' method='post'>
      <input type='hidden' name='damage' value='15'>
      <input type='submit' value='Smack'>
    </form>
  </body>
</html>
